<app-header></app-header>
<div class="container">
    <div class="row mt-5" *ngIf="product">
        <div class="col-md-4 mx-auto">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-header">
                  Detail Clock
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Id: {{product.id}}</li>
                  <li class="list-group-item">Brand: {{product.name}}</li>
                  <li class="list-group-item">Price: {{product.price | currency}}</li>
                </ul>
                <div class="card-footer">
                  <div class="btn btn-primary btn-block" (click)="back()">
                    <i class="fad fa-backward"></i> Back
                  </div>
                </div>
           </div>
        </div>
    </div>
    
</div>
